* {
    border-sizing: border-box;
}

body,html {
    margin: 0;
    font-family: Helvetica;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #ebebeb;
    width: 100%;
    text-align: center;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.navItem {
    display: inline-block;
    color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 12pt;
      margin: 0;
}

.navItem:hover, .activePage{
    background-color: #bababa;
    color: white;
}

#headerbar {
    margin: auto;
}

.main-header {
    text-align: center;
    margin: 10px;
    width: 100%;
}

#content {
    width: 95%;
    margin: auto;
    padding-top:10px;
    border-sizing: border-box;
}

#navigation {
    margin: 10px 0;
}

.hlogo {
    max-width: 45v%
    text-align: center;
    border: none;
    margin: 0;
    margin-bottom: 1.5em;
}

.video-info {
    width: 40%;
    float: right;
}

hr {
    background-color: black;
    height: 2px;
    width: 100%;
}

.headerstyle-hr {
    background-color: black;
    height: 1px;
}

.small-header {
    font-size:18px;
}

.profile-info {
    width: 100%;
    margin: 0;
    margin-bottom: 4em;
}

.profile-header {
    font-size: 2em;
}

.profile-subheader {
    font-size: 1.5em;
}

.profile-information {
    width: 100%;
}

.profile-th {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    width: 20%;
    padding-left: 0.5em;
}

.profile-description {
    width: 95%;
}

.contributor-list {
    width: 100%;
    margin: 2px;
}

.table-row-hilight {
    height: 20px;
padding: 2px 0 10px 2px;
    overflow: visible;
}

.table-row-hilight:hover {
    background-color: black;
    color: white;
}

.profile-img-small {
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 3px;
}

.profile-img {
    width: 15%;
    float: left;
    margin:0.5em 2em 1em 0.5em;
}
.third-width {
    border-sizing: border-box;
    -moz-border-sizing: border-box;
    -webkit-border-sizing: border-box;
    width: 33.33%;
    width: calc(100% / 3);
    float: left;
    margin: 0;
}

.padinner {
    padding: 2.5vw;
}

.half-width {
    border-sizing: border-box;
    -moz-border-sizing: border-box;
    -webkit-border-sizing: border-box;
    width: 50%;
    float: left;
    margin: 0;
}

th {
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}