html,body {
height:100%;
width:100%;
}

#sidebar {
width:15%;
height:93%;
float:left;
margin:0px;
padding:7px;
background-color:rgb(235, 235, 235);
border-sizing:border-box;
border-right:2px solid black;
overflow:auto;
}

#headerbar {
width:100%;
height:7%;
margin:0px;
padding:auto;
border-sizing:border-box;
border-bottom:2px solid black;
background-color:rgb(235, 235, 235);
overflow:hide;
}

#home-link {
display:inline;
float:left;
margin:5px;20px;
padding:0px;
}

h1.main-header {
text-align:center;
display:inline;
float:right;
margin:5px;20px;
padding:0px;
width:85%;
}

#content {
overflow:auto;
height:93%;
width:82%;
float:right;
padding:10px;;
margin:0px;
border-sizing:border-box;
}

#navigation {
margin:10px 0px;
}

.nav-item {
margin:5px 0px;
background-color:transparent;
color:black;
}

.nav-item:hover {
background-color:black;
color:white;
}

#forum_embed {
overflow:auto;
height:93%;
width:82%;
float:right;
padding:0px;;
margin:0px;
border-sizing:border-box;

.video-info {
display:inline;
width:30%;
float:right;
}


.feedburnerFeedBlock {
background-color:white;
color:black;
}

hr {
background-color:black;
height:2px;
}

.video-embed {
display:inline;
overflow:show;
width:60%;
height:auto;
float:left;
}

.small-header {
font-size:18px;
}
