#always ignore any testing files
test.*
# Don't update the database file, as it points to the beta database
includes/db.connect.inc.php
.idea
# Don't track openid.php, as this is a library
includes/openid.php