header.navcontainer {
    width: 100vw;
    border-bottom: 2px solid black;
    background-color: #ebebeb;
    padding-bottom: 0.5rem;
}

a.nav-link {
    color: black;
}

a.nav-link.active {
    background-color: lightgray;
}

img.nav-logo {
    height: 2rem;
}
